- name: Enable NX-OS features
  cisco.nxos.nxos_feature:
    feature: "{{ item }}"
  loop: "{{ features }}"

- name: Enable EVPN overlay
  cisco.nxos.nxos_evpn_global:
    nv_overlay_evpn: true

- name: Debug system MTUI
  debug:
    msg: "System MTU is set to {{ system_mtu }}"

- name: Set system MTU
  cisco.nxos.nxos_system:
    system_mtu: "{{ system_mtu }}"

- name: Configure hostname
  cisco.nxos.nxos_hostname:
    config:
      hostname: "{{ inventory_hostname }}"

# Workaround for enable ARP suppression
# Decrease the vpc-convergence & increase the arp-ether
- name: Configure TCAM regions for ARP suppression
  cisco.nxos.nxos_config:
    lines:
      - hardware access-list tcam region vpc-convergence 0
      - hardware access-list tcam region arp-ether 256

- name: Set VXLAN Anycast MAC
  cisco.nxos.nxos_overlay_global:
    anycast_gateway_mac: "{{ anycast_gateway_mac }}"
  when: inventory_hostname in groups['device_roles_leaf-switch']

# - name: Debug device role and inventory groups
#   debug:
#     msg:
#       - "host: {{ inventory_hostname }}"
#       - "groups: {{ group_names }}"
#       - "is_spine_group: {{ ('device_roles_spine-switch' in group_names) | ternary('yes','no') }}"
#       - "is_leaf_group: {{ ('device_roles_leaf-switch' in group_names) | ternary('yes','no') }}"
#       - "role_path: {{ role_path | default('undefined') }}"