- name: Enable NX-OS features
  cisco.nxos.nxos_feature:
    feature: "{{ item }}"
  loop: "{{ features }}"

- name: Enable EVPN overlay
  cisco.nxos.nxos_evpn_global:
    nv_overlay_evpn: true

- name: Set system MTU
  cisco.nxos.nxos_system:
    system_mtu: "{{ system_mtu }}"

- name: Configure hostname
  cisco.nxos.nxos_hostname:
    config:
      hostname: "{{ inventory_hostname }}"

# Workaround for enable ARP suppression
# Decrease the vpc-convergence & increase the arp-ether
- name: Configure TCAM regions for ARP suppression
  cisco.nxos.nxos_config:
    lines:
      - hardware access-list tcam region vpc-convergence 0
      - hardware access-list tcam region arp-ether 256

- name: Set VXLAN Anycast MAC
  cisco.nxos.nxos_overlay_global:
    anycast_gateway_mac: "{{ anycast_gateway_mac }}"
  when: inventory_hostname in groups['device_roles_leaf-switch']

- name: Create Permit All Route Map
  cisco.nxos.nxos_route_maps:
    config:
      - route_map: PERMIT_ALL
        entries:
          - sequence: 10
            action: permit

- name: Configure SNMP Community and Context
  cisco.nxos.nxos_snmp_server:
    config:
      communities:
        - name: "public"
          ro: true
      context:
          name: "management"
          vrf: "management"

- name: Configure SNMP Server
  cisco.nxos.nxos_snmp_server:
    config:
      mib:
        community_map:
          community: "public"
          context: "management"
      source_interface:
        traps: "mgmt0"
    
- name: Configure Logging Format to RFC 5424
  cisco.nxos.nxos_command:
    commands:
      - configure terminal
      - command: logging server 100.83.118.78 6 port 1514 use-vrf management

- name: Configure Logging Format to RFC 5424
  cisco.nxos.nxos_command:
    commands:
      - configure terminal
      - command: logging rfc-strict 5424

# - name: Debug device role and inventory groups
#   debug:
#     msg:
#       - "host: {{ inventory_hostname }}"
#       - "groups: {{ group_names }}"
#       - "is_spine_group: {{ ('device_roles_spine-switch' in group_names) | ternary('yes','no') }}"
#       - "is_leaf_group: {{ ('device_roles_leaf-switch' in group_names) | ternary('yes','no') }}"
#       - "role_path: {{ role_path | default('undefined') }}"