- name: Fetch loopback interfaces from NetBox
  set_fact:
    loopback_intfs: >-
      {{ query('netbox.netbox.nb_lookup','interfaces',
          api_endpoint=netbox_url,
          token=netbox_token,
          api_filter= 'device='+inventory_hostname+' name__ic=loopback'
      ) | map(attribute='value') }}

- name: Debug loopback_intfs
  debug:
    var: loopback_intfs

- name: Fetch loopback interfaces from NetBox (no map)
  set_fact:
    loopback_intfs_no_map: >-
      {{ query('netbox.netbox.nb_lookup','interfaces',
          api_endpoint=netbox_url,
          token=netbox_token,
          api_filter= 'device='+inventory_hostname+' name__ic=loopback') }}

- name: Debug loopback_intfs
  debug:
    var: loopback_intfs_no_map

# !!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Working Code
# - name: Configure loopback interfaces
#   cisco.nxos.nxos_interfaces:
#     config:
#       - name: "{{ item.name }}"
#         enabled: true
#   loop: "{{ query('netbox.netbox.nb_lookup', 'interfaces',
#             api_endpoint=netbox_url,
#             token=netbox_token,
#             api_filter='device='+inventory_hostname+' name__ic=loopback')
#             | map(attribute='value') }}"

# - name: Configure underlay interfaces
#   cisco.nxos.nxos_interfaces:
#     config:
#       - name: "{{ item.name }}"
#         enabled: "{{ item.enabled }}"
#         mtu: "{{ item.mtu if item.enabled else omit }}"
#         mode: "{{ 'layer3' if item.enabled else omit }}"
#   loop: "{{ query('netbox.netbox.nb_lookup', 'interfaces',
#             api_endpoint=netbox_url,
#             token=netbox_token,
#             api_filter='device='+inventory_hostname+' name__ic=Eth')
#             | map(attribute='value') }}"

# - name: Configure loopback & underlay interfaces - ip address
#   cisco.nxos.nxos_l3_interfaces:
#     config:
#       - name: "{{ item.assigned_object.name }}"
#         ipv4:
#           - address: "{{ item.address }}"
#   loop: "{{ query('netbox.netbox.nb_lookup', 'ip-addresses',
#             api_endpoint=netbox_url,
#             token=netbox_token,
#             api_filter='device='+inventory_hostname) 
#             | map(attribute='value') }}"

- name: Debug first loopback interface name
  debug:
    msg: "{{ (query('netbox.netbox.nb_lookup', 'ip-addresses',
          api_endpoint=netbox_url,
          token=netbox_token,
          api_filter='device='+inventory_hostname+' name__ic=loopback')
          | map(attribute='value')
          | selectattr('assigned_object.name', 'search', '(?i)^loopback')
          | list | first ).assigned_object.name }}"

- name: Debug first loopback interface address
  debug:
    msg: "{{ (query('netbox.netbox.nb_lookup', 'ip-addresses',
          api_endpoint=netbox_url,
          token=netbox_token,
          api_filter='device='+inventory_hostname+' name__ic=loopback')
          | map(attribute='value')
          | selectattr('assigned_object.name', 'search', '(?i)^loopback')
          | list | first ).address }}"

# - name: Enable OSPF
#   cisco.nxos.nxos_ospfv2:
#       config:
#         processes:
#           - process_id: "{{ ospf.id }}"
#             router_id: >-
#               "{{ query('netbox.netbox.nb_lookup', 'ip-addresses',
#                   api_endpoint=netbox_url,
#                   token=netbox_token,
#                   api_filter='device='+inventory_hostname+' name__ic=loopback')
#                   | map(attribute='value') }}"
#             default_information:
#               originate:
#                 always: true
                
# - name: Enable OSPF over loopback interfaces
#   cisco.nxos.nxos_ospf_interfaces:
#       config:
#         - name: "loopback {{ item.id }}"
#           address_family:
#             - afi: ipv4
#               processes:
#                 - process_id: "{{ ospf.id }}"
#                   area:
#                     area_id: "{{ ospf.area }}"
#   loop: "{{ loopbacks }}"

# - name: Enable OSPF over underlay interfaces
#   cisco.nxos.nxos_ospf_interfaces:
#       config:
#         - name: "Ethernet{{ item.id }}"
#           address_family:
#             - afi: ipv4
#               processes:
#                 - process_id: "{{ ospf.id }}"
#                   area:
#                     area_id: "{{ ospf.area }}"
#   loop: "{{ underlay_interfaces }}"