- name:  Deploy new leaf switch
  hosts: leafs
  gather_facts: no

  tasks:
  - name: Enable features
    cisco.nxos.nxos_feature:
        feature: "{{ item }}"
    loop: "{{ features }}"

  - name: Enable overlay EVPN
    cisco.nxos.nxos_evpn_global:
      nv_overlay_evpn: true

  - name: Chagen the system mtu to 9216
    cisco.nxos.nxos_system:
      system_mtu: 9216

  - name: Configure hostname
    cisco.nxos.nxos_hostname:
      config:
        hostname: "{{ hostname }}"

  - name: Configure loopback interfaces
    cisco.nxos.nxos_interfaces:
      config:
        - name: "loopback {{ item.id }}"
          enabled: true
    loop: "{{ loopbacks }}"

  - name: Configure loopback interfaces - ip address
    cisco.nxos.nxos_l3_interfaces:
      config:
        - name: "loopback {{ item.id }}"
          ipv4:
            - address: "{{ item.address }}/32"
    loop: "{{ loopbacks }}"

  - name: Configure underlay interfaces
    cisco.nxos.nxos_interfaces:
      config:
        - name: "Ethernet{{ item.id }}"
          mtu: 9216
          enabled: true
          mode: layer3
    loop: "{{ underlay_interfaces }}"

  - name: Configure underlay interfaces - ip address
    cisco.nxos.nxos_l3_interfaces:
      config:
        - name: "Ethernet{{ item.id }}"
          ipv4:
            - address: "{{ item.address }}"
    loop: "{{ underlay_interfaces }}"

  - name: Enable OSPF
    cisco.nxos.nxos_ospfv2:
      config:
        processes:
          - process_id: "{{ ospf.name }}"
            router_id: "{{ loopbacks[0].address | ansible.utils.ipaddr('address') }}"

  - name: Enable OSPF over loopback interfaces
    cisco.nxos.nxos_ospf_interfaces:
        config:
        - name: "loopback {{ item.id }}"
          address_family:
            - afi: ipv4
              processes:
                - process_id: "{{ ospf.name }}"
                  area:
                    area_id: "{{ ospf.area }}"
    loop: "{{ loopbacks }}"

  - name: Enable OSPF over underlay_interfaces interfaces
    cisco.nxos.nxos_ospf_interfaces:
        config:
        - name: "Ethernet{{ item.id }}"
          address_family:
            - afi: ipv4
              processes:
                - process_id: "{{ ospf.name }}"
                  area:
                    area_id: "{{ ospf.area }}"
    loop: "{{ underlay_interfaces }}"

  - name: Enable BGP
    cisco.nxos.nxos_bgp_global:
      config:
        as_number: "{{ bgp.asn }}"
        router_id: "{{ loopbacks[0].address | ansible.utils.ipaddr('address') }}"

  - name: Configure BGP address families
    cisco.nxos.nxos_bgp_address_family:
      config:
        as_number: "{{ bgp.asn }}"
        address_family:
          - afi: ipv4
            safi: unicast
            send_community:
              both: true
          - afi: l2vpn
            safi: evpn

  - name: Configure VRF BGP address families
    cisco.nxos.nxos_bgp_address_family:
      config:
        as_number: "{{ bgp.asn }}"
        address_family:      
          - afi: ipv4
            safi: unicast
            vrf: "{{ item.vrf }}"
    loop: "{{ vxlan.l3vnis }}"

  - name: Configure BGP neighbors
    cisco.nxos.nxos_bgp_global:
      config:
        as_number: "{{ bgp.asn }}"
        neighbors:
          - neighbor_address: "{{ item }}"
            remote_as: "{{ bgp.asn }}"
            update_source: "loopback {{ loopbacks[0].id }}"
    loop: "{{ groups['spines'] | map('extract', hostvars, ['loopbacks', 0, 'address']) | list }}"

  - name: Configure BGP neighbor address families
    cisco.nxos.nxos_bgp_address_family:
      config:
        as_number: "{{ bgp.asn }}"
        neighbors:
          - neighbor_address: "{{ item }}"
            address_family:
              - afi: ipv4
                safi: unicast
              - afi: l2vpn
                safi: evpn
                send_community:
                  both: true
    loop: "{{ groups['spines'] | map('extract', hostvars, ['loopbacks', 0, 'address']) | list }}"

  - name: Create VTEP with BGP learning
    cisco.nxos.nxos_vxlan_vtep:
      interface: "nve1"
      host_reachability: true
      source_interface: "loopback {{ loopbacks[0].id }}"
      shutdown: false

  - name: Create L2 VNIs
    cisco.nxos.nxos_vxlan_vtep_vni:
      interface: "nve1"
      vni: "{{ item }}"
      suppress_arp: true
      ingress_replication: "bgp"
    loop: "{{ vxlan.l2vnis }}"

  - name: Configure L3 VNIs
    cisco.nxos.nxos_vxlan_vtep_vni:
      interface: "nve1"
      vni: "{{ item.vni }}"
      associate_vrf: true
    loop: "{{ vxlan.l3vnis }}"

  - name: Set anycast MAC
    cisco.nxos.nxos_overlay_global:
      anycast_gateway_mac: "{{ anycast_gateway_mac.mac_address }}"

# Overlay

  - name: Configure overlay interface
    cisco.nxos.nxos_interfaces:
      config:
        - name: "Ethernet1/10"
          enabled: true
          mode: layer2

  - name: Configure overlay interface - ip address
    cisco.nxos.nxos_l2_interfaces:
      config:
        - name: "Ethernet1/10"
          access:
            vlan: 10